@import url("normalize.css");
@import url("constants.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-black-25);
  line-height: var(--spacing-m);
}

section {
  padding: var(--spacing-m);
}

img {
  /* display: block;
  max-width: 100%; */
}

strong {
  font-weight: var(--fw-bold);
}
h1,
h2,
h3,
h4 {
  line-height: var(--spacing-xl);
  padding: 0 0 var(--spacing-s) 0;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
small {
  font-size: var(--body-s);
}
button {
  border: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*------------ C O M P O N E N T S ------------*/
.btn {
  padding: var(--spacing-s);
  background-color: transparent;
  color: var(--clr-light);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: var(--fw-med);
  font-size: var(--fs-h3);
  border-radius: 6px;
  transition: background-color 280ms ease;
}
.btn:hover,
.btn:active {
  background-image: none;
}

.btn:hover {
  background-color: #d1d1d12b;
}

.btn-primary {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary),
    var(--clr-secondary-light)
  );
  color: var(--clr-primary);
  box-shadow: 0 4px 0 0 #a6953b, inset 0 2px 0 0 #ffffff;
  transition: none;
}
.btn-primary:hover {
  background-color: var(--clr-secondary-light);
}
.btn-primary:active {
  background-color: var(--clr-secondary);
}

/* Card */
.card {
  box-shadow: var(--bs);
  border-radius: var(--spacing-l);
  margin-bottom: var(--spacing-m);
  padding: var(--spacing-l) var(--spacing-s);
  text-align: start;
}
.card:first-of-type {
  margin: 0;
}

.card__image {
  display: none;
}

.card__info {
}
.card__info h2,
.card__info h3 {
  color: var(--clr-primary);
}
.card__info h3 {
  padding-bottom: 0;
}
.card__info h2 {
  padding-bottom: var(--spacing-xxs);
}
.card__info p {
  color: var(--clr-black);
}

.card__list {
  padding-top: var(--spacing-s);
}

.card__item {
  padding-bottom: var(--spacing-s);
}
.card__item:last-of-type {
  padding: 0;
}
.card__link {
  /* display: flex; */
  border-bottom: 2px solid transparent;
  color: var(--clr-primary);
}
.card__link:hover {
  border-bottom: 2px solid var(--clr-primary);
}

@media screen and (min-width: 720px) {
  .card {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }
  .card__image {
    display: block;
    flex-shrink: 0;
    height: 5rem;
    width: 5rem;
    background-color: var(--clr-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--spacing-m);
  }
  .card__image > img {
    display: block;
    width: 40%;
  }
  .card__info {
    flex-grow: 1;
  }
}

/* Loader */
.loader-wrapp {
  text-align: center;
  padding: var(--spacing-s) 0;
}
.loader-wrapp__mess {
  padding-top: var(--spacing-m);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
}
.loader-single-ring {
  position: relative;
  display: flex;
  margin: auto;
  flex-shrink: 0;
  width: calc(var(--spacing-xxl) * 2.5);
  height: calc(var(--spacing-xxl) * 2.5);
  background-image: linear-gradient(
    to right,
    var(--clr-secondary),
    var(--clr-secondary-light)
  );
  border-radius: 50%;
  animation: linear-spiner 1s linear infinite;
  /* animation-timing-function: ; */
}
.loader-fullmode {
  display: flex;
  height: 90vh;
  flex-flow: column wrap;
  justify-content: center;
}
.loader-fullmode > div {
  margin: 0 auto 0% auto;
}
.loader-fullmode > p {
  margin-bottom: 11%;
}
@keyframes linear-spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-single-ring::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--clr-light);
  width: calc(var(--spacing-xxl) * 2.2);
  height: calc(var(--spacing-xxl) * 2.2);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.loader-single-ring::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  background-color: var(--clr-light);
  padding: var(--spacing-xxs);
  z-index: 1;
  transform: translateY(-50%);
}

/*------------ S E C T I O N S ------------*/

/* Navigation */
.nav {
  display: flex;
  background-color: var(--clr-primary);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-xs);
}
.header {
  background-color: var(--clr-primary);
}
@media screen and (min-width: 720px) {
  .nav {
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* Email Search */
.email-search {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: var(--spacing-m);
  text-align: center;
}
.email-search--hidden {
  display: none;
}
.email-search > h2 {
  font-size: var(--fs-h1);
}

.email-search__info {
  font-size: var(--fs-body);
  padding-bottom: var(--spacing-m);
}
.email-search__warn {
  color: var(--clr-secondary);
  font-weight: var(--fw-med);
  text-align: start;
}
.email-search__warn > img {
  vertical-align: sub;
  margin-right: var(--spacing-xxs);
}
.email-search__info > strong {
  color: var(--clr-secondary);
  font-weight: var(--fw-med);
}

.search-bar {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}
.search-bar > * {
  margin-bottom: var(--spacing-s);
}
.search-bar > input {
  border: 3px solid transparent;
  padding: var(--spacing-xs);
  font-size: var(--fw-med);
  box-shadow: 0 -1px 1px 4px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  transition: border 250ms linear;
}
.search-bar > ::placeholder {
  text-transform: uppercase;
}
/* .search-bar--error {
} */
.search-bar--error > input {
  margin-bottom: 0;
  border: 3px solid var(--clr-red);
  border-radius: 3px 3px 0 0;
  z-index: 1;
}

.search-bar__mess {
  position: absolute;
  top: 0%;
  background-color: var(--clr-red);
  text-align: start;
  padding: var(--spacing-xxs);
  transform: translateY(-1px);
  border-radius: 0 0 3px 3px;
  transform: translateY(-100%);
  transition: transform 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96),
    opacity 250ms ease-in, z-index 0s linear 300ms;
  opacity: 0;
}
.search-bar--error > .search-bar__mess {
  /* position: block;
  margin-bottom: var(--spacing-s);
  transform: translateY(0%);
  opacity: 1; */
}
.search-bar__mess--show {
  position: relative;
  margin-bottom: var(--spacing-s);
  transform: translateY(0%);
  opacity: 1;
  /* z-index: 1; */
}

.btn-search {
  margin-bottom: var(--spacing-s);
}

@media screen and (max-width: 540px) {
  .search-bar > * {
    flex-basis: 100%;
    /* padding-bottom: var(--spacing-xxl); */
  }
}
@media screen and (min-width: 720px) {
  .email-search {
    padding: calc(var(--spacing-xxl) * 1.2) var(--spacing-m);
  }

  .email-search__info {
    /* font-size: calc(var(--fs-body) * 1.2); */
  }
  .search-bar {
    position: relative;
    flex-flow: row wrap;
    padding-bottom: var(--spacing-xxl);
  }
  .search-bar > input {
    font-size: var(--fs-body);
    flex-basis: 70%;
    margin: 0;
  }
  .search-bar__mess {
    position: absolute;
    top: calc(var(--spacing-xxl) + 1rem);
    margin: 0;
  }
  .btn-search {
    flex-grow: 1;
    margin: 0px 0px 4px 2rem;
  }
}
@media screen and (min-width: 960px) {
  .email-search__warn,
  .search-bar {
    max-width: 1000px;
    margin: 0 auto;
  }
  .search-bar {
    /* padding-bottom: calc(var(--spacing-xxl) + 1rem); */
    padding-bottom: calc(var(--spacing-l));
  }
  .search-bar--error {
    padding-bottom: calc(var(--spacing-xxl) + 1rem);
  }
  .search-bar > input {
    font-size: var(--fs-body-l);
  }
}

/* Instructions */
.instructions {
  padding: var(--spacing-m);
  background-image: linear-gradient(to top, #cfcfcf, #ffffff);
  font-size: inherit;
}
.instructions--hidden {
  display: none;
}
.instructions > h1 {
  text-align: center;
  color: var(--clr-primary);
}
.instructions > p {
  color: var(--clr-black-25);
}

.instructions__list {
  padding: var(--spacing-s) var(--spacing-xs);
}
.instructions__item {
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--spacing-l);
}
.instructions__item:last-of-type {
  padding: 0;
}
.instructions__item > figure {
  display: flex;
  flex-shrink: 0;
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
  border-radius: 50%;
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  margin-right: var(--spacing-s);
}
.instructions__item > figure > span {
  margin: auto;
  font-weight: var(--fw-med);
  font-size: var(--fs-h3);
}
.instructions__info {
}
.instructions__info > h2 {
  color: var(--clr-primary);
  font-size: var(--fs-h4);
  padding: 0;
}
.instructions__info > p {
  color: var(--clr-black);
}

@media screen and (min-width: 720px) {
  .instructions > p {
    /* font-size: calc(var(--fs-body-l)); */
  }
  .instructions > h1 {
    /* font-size: calc(var(--fs-h1) * 1.2); */
    padding-bottom: var(--spacing-l);
  }
  .instructions__info > h2 {
    /* font-size: calc(var(--fs-h4) * 1.2); */
  }
  .instructions__list {
    padding: var(--spacing-l) var(--spacing-xs);
    display: flex;
    flex-flow: row wrap;
  }
  .instructions__item {
    flex-basis: 50%;
  }
  .instructions__item p {
    font-size: calc(var(--fs-body-s));
  }
  .instructions__item:nth-of-type(odd) {
    padding-right: var(--spacing-l);
  }
  .instructions__item > figure {
    width: calc(var(--spacing-xxl) * 1.2);
    height: calc(var(--spacing-xxl) * 1.2);
  }
  .instructions__item > figure > span {
    margin: auto;
    font-weight: var(--fw-med);
    font-size: var(--fs-h2);
  }
}
@media screen and (min-width: 960px) {
  .instructions {
    padding: var(--spacing-xl);
  }
  .instructions > * {
    max-width: 1000px;
    margin: auto;
  }
  .instructions__item > figure {
    width: calc(var(--spacing-xxl) * 1.4);
    height: calc(var(--spacing-xxl) * 1.4);
  }
  .instructions__item > figure > span {
    margin: auto;
    font-weight: var(--fw-med);
    font-size: var(--fs-h2);
  }
}

/* Footer */
.footer {
  padding: var(--spacing-m);
  text-align: center;
}
.footer > p {
  color: var(--clr-black-40);
}
.footer__links {
  padding-top: var(--spacing-m);
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
}
.footer__links > a {
  position: relative;
  border-bottom: 3px solid transparent;
  padding-bottom: var(--spacing-xxs);
  font-weight: var(--fw-med);
  color: inherit;
  transition: border-bottom 250ms ease-in;
}
.footer__links > a::after {
  width: 100%;
  position: absolute;
  content: "";
  padding: 3px 0 0 0;
  /* background-color: #ff000080; */
  background-color: var(--clr-primary);
  bottom: 10%;
  left: 0%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 125ms ease-in, opacity 140ms ease-in;
}
.footer__links > a:hover::after {
  opacity: 1;
  transform: translateX(0%);
}
.footer__links > a:hover {
  /* border-bottom: 3px solid var(--clr-primary); */
}
@media screen and (min-width: 720px) {
  .footer {
    display: flex;
    align-items: center;
    font-size: var(--fs-body-s);
  }
  .footer__links {
    padding: 0;
    flex-basis: 70%;
  }
}

/* Results */
.results {
  text-align: center;
}
.results--hidden {
  padding: 0 !important;
}
.results__result {
  display: none;
}
.results__result--show {
  display: block;
}
.results__res {
  padding-bottom: var(--spacing-l);
}
.results__res--no-results {
  padding: calc(var(--spacing-xxl) * 2.5) 0;
}
.results__res > h1 {
  color: var(--clr-primary);
}
.results__res > p {
  color: var(--clr-black-25);
}

@media screen and (min-width: 720px) {
  .results {
    padding-bottom: var(--spacing-xxl);
  }
}
